In [2]:
import pandas as pd
list_df = pd.read_csv('listings.csv.gz', compression='gzip')
review_df = pd.read_csv('reviews.csv.gz', compression='gzip')
cal_df = pd.read_csv('calendar.csv.gz', compression='gzip')

In [3]:
list_df.head()

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,6606,https://www.airbnb.com/rooms/6606,20231220185704,2023-12-21,city scrape,Guesthouse in Seattle · ★4.60 · 1 bedroom · 1 ...,NaN,"A peaceful yet highly accessible neighborhood,...",https://a0.muscache.com/pictures/45742/21116d7...,14942,...,4.76,4.88,4.57,str-opli-19-002622,f,2,2,0,0,0.91
1,9419,https://www.airbnb.com/rooms/9419,20231220185704,2023-12-20,city scrape,Rental unit in Seattle · ★4.72 · 1 bedroom · 1...,NaN,"Lots of restaurants (see our guide book) bars,...",https://a0.muscache.com/pictures/56645186/e5fb...,30559,...,4.90,4.67,4.66,STR-OPLI-19-003039,f,9,0,9,0,1.19
2,9531,https://www.airbnb.com/rooms/9531,20231220185704,2023-12-20,city scrape,Home in Seattle · ★4.97 · 2 bedrooms · 3 beds ...,NaN,The neighborhood is awesome! Just far enough ...,https://a0.muscache.com/pictures/30470355/052c...,31481,...,4.95,4.98,4.91,STR-OPLI-19-002182,f,2,2,0,0,0.59
3,9534,https://www.airbnb.com/rooms/9534,20231220185704,2023-12-20,city scrape,Guest suite in Seattle · ★4.99 · 2 bedrooms · ...,NaN,The neighborhood is the best of two worlds...w...,https://a0.muscache.com/pictures/30476721/0751...,31481,...,4.99,4.96,4.95,STR-OPLI-19-002182,f,2,2,0,0,0.52
4,9596,https://www.airbnb.com/rooms/9596,20231220185704,2023-12-21,previous scrape,Rental unit in Seattle · ★4.56 · 1 bedroom · 4...,NaN,"if you arrive early for check in at 3, I reco...",https://a0.muscache.com/pictures/665252/102d18...,14942,...,4.66,4.91,4.56,STR -OPLI-19-002622,f,2,2,0,0,0.63

In [4]:
review_df.head()

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,6606,5664,2009-07-17,18085,Vivian,"The Urban Cottage is comfortable, beautiful, f..."
1,6606,338761,2011-06-27,434031,Elliott,Joyce was a wonderful host and the urban cotta...
2,6606,467904,2011-08-22,976182,Allegra,Beautiful cottage and warm hospitality from Jo...
3,6606,480017,2011-08-27,997921,Brittney,"Joyce is a wonderful host! She is warm, helpfu..."
4,6606,487278,2011-08-30,206901,Pascal,Joyce's cottage is the perfect Seattle locatio...

In [5]:
cal_df.head()

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
0,6606,2023-12-21,f,$90.00,NaN,30.0,1125.0
1,6606,2023-12-22,f,$90.00,NaN,30.0,1125.0
2,6606,2023-12-23,t,$90.00,NaN,30.0,1125.0
3,6606,2023-12-24,t,$90.00,NaN,30.0,1125.0
4,6606,2023-12-25,t,$90.00,NaN,30.0,1125.0

In [6]:
list_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6882 entries, 0 to 6881
Data columns (total 75 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            6882 non-null   int64
 1   listing_url                                   6882 non-null   object
 2   scrape_id                                     6882 non-null   int64
 3   last_scraped                                  6882 non-null   object
 4   source                                        6882 non-null   object
 5   name                                          6882 non-null   object
 6   description                                   0 non-null      float64
 7   neighborhood_overview                         5013 non-null   object
 8   picture_url                                   6882 non-null   object
 9   host_id                                       6882 non-null   int64
 10  host_url                                      6882 non-null   object
 11  host_name                                     6882 non-null   object
 12  host_since                                    6882 non-null   object
 13  host_location                                 5816 non-null   object
 14  host_about                                    4747 non-null   object
 15  host_response_time                            5940 non-null   object
 16  host_response_rate                            5940 non-null   object
 17  host_acceptance_rate                          6297 non-null   object
 18  host_is_superhost                             6864 non-null   object
 19  host_thumbnail_url                            6882 non-null   object
 20  host_picture_url                              6882 non-null   object
 21  host_neighbourhood                            6552 non-null   object
 22  host_listings_count                           6882 non-null   int64
 23  host_total_listings_count                     6882 non-null   int64
 24  host_verifications                            6882 non-null   object
 25  host_has_profile_pic                          6882 non-null   object
 26  host_identity_verified                        6882 non-null   object
 27  neighbourhood                                 5013 non-null   object
 28  neighbourhood_cleansed                        6882 non-null   object
 29  neighbourhood_group_cleansed                  6882 non-null   object
 30  latitude                                      6882 non-null   float64
 31  longitude                                     6882 non-null   float64
 32  property_type                                 6882 non-null   object
 33  room_type                                     6882 non-null   object
 34  accommodates                                  6882 non-null   int64
 35  bathrooms                                     0 non-null      float64
 36  bathrooms_text                                6882 non-null   object
 37  bedrooms                                      0 non-null      float64
 38  beds                                          6826 non-null   float64
 39  amenities                                     6882 non-null   object
 40  price                                         6504 non-null   object
 41  minimum_nights                                6882 non-null   int64
 42  maximum_nights                                6882 non-null   int64
 43  minimum_minimum_nights                        6882 non-null   int64
 44  maximum_minimum_nights                        6882 non-null   int64
 45  minimum_maximum_nights                        6882 non-null   int64
 46  maximum_maximum_nights                        6882 non-null   int64
 47  minimum_nights_avg_ntm                        6882 non-null   float64
 48  maximum_nights_avg_ntm                        6882 non-null   float64
 49  calendar_updated                              0 non-null      float64
 50  has_availability                              6504 non-null   object
 51  availability_30                               6882 non-null   int64
 52  availability_60                               6882 non-null   int64
 53  availability_90                               6882 non-null   int64
 54  availability_365                              6882 non-null   int64
 55  calendar_last_scraped                         6882 non-null   object
 56  number_of_reviews                             6882 non-null   int64
 57  number_of_reviews_ltm                         6882 non-null   int64
 58  number_of_reviews_l30d                        6882 non-null   int64
 59  first_review                                  5809 non-null   object
 60  last_review                                   5809 non-null   object
 61  review_scores_rating                          5812 non-null   float64
 62  review_scores_accuracy                        5812 non-null   float64
 63  review_scores_cleanliness                     5812 non-null   float64
 64  review_scores_checkin                         5812 non-null   float64
 65  review_scores_communication                   5812 non-null   float64
 66  review_scores_location                        5812 non-null   float64
 67  review_scores_value                           5811 non-null   float64
 68  license                                       5462 non-null   object
 69  instant_bookable                              6882 non-null   object
 70  calculated_host_listings_count                6882 non-null   int64
 71  calculated_host_listings_count_entire_homes   6882 non-null   int64
 72  calculated_host_listings_count_private_rooms  6882 non-null   int64
 73  calculated_host_listings_count_shared_rooms   6882 non-null   int64
 74  reviews_per_month                             5809 non-null   float64
dtypes: float64(17), int64(23), object(35)
memory usage: 3.9+ MB

In [7]:
review_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 468790 entries, 0 to 468789
Data columns (total 6 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   listing_id     468790 non-null  int64
 1   id             468790 non-null  int64
 2   date           468790 non-null  object
 3   reviewer_id    468790 non-null  int64
 4   reviewer_name  468790 non-null  object
 5   comments       468730 non-null  object
dtypes: int64(3), object(3)
memory usage: 21.5+ MB

In [9]:
cal_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2512306 entries, 0 to 2512305
Data columns (total 7 columns):
 #   Column          Dtype
---  ------          -----
 0   listing_id      int64
 1   date            object
 2   available       object
 3   price           object
 4   adjusted_price  float64
 5   minimum_nights  float64
 6   maximum_nights  float64
dtypes: float64(3), int64(1), object(3)
memory usage: 134.2+ MB